ul {
	list-style-type: none;
}

li {
	display: inline-block;
}

.container {
	background-color: #ffffee;
}

.box-model {
	width: 800px;
	height: 200px;
	background-color: green;
}


p {
	position: absolute;
	left: 320px;
}


.container {
	position: absolute;
		left: 50px;
}

/* aside container */

#account {
	position: absolute;
		left: 50px;
		width: 1200px;
 
}

#cliente {
	position: absolute;
		left: 50px;
		width: 1200px;
 
}

#empleado {
	position: absolute;
		left: 50px;
		width: 1200px;
 
}

#inmueble {
	position: absolute;
		left: 50px;
		width: 1200px;
 
}

#propietario {
	position: absolute;
		left: 50px;
		width: 1200px;
 
}

.volverButton{
	 margin-bottom: 20px;
}
