<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  
 <context-param>
    <param-name>h2.database.path</param-name>
    <param-value>/C:/Fernando/H2 DataBase</param-value>
  </context-param>
<listener>
    <listener-class>com.conexion.MySessionListener</listener-class>
</listener>

  <servlet>
  	<servlet-name>ClienteCreateServlet</servlet-name>
  	<display-name>ClienteCreateServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ClienteCreateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClienteDeleteServlet</servlet-name>
  	<display-name>ClienteDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ClienteDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClienteFindServlet</servlet-name>
  	<display-name>ClienteFindServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ClienteFindServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClienteListServlet</servlet-name>
  	<display-name>ClienteListServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ClienteListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClienteUpdateServlet</servlet-name>
  	<display-name>ClienteUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.ClienteUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CrearClienteServlet</servlet-name>
  	<display-name>CrearClienteServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.CrearClienteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpleadoCreateServlet</servlet-name>
  	<display-name>EmpleadoCreateServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.EmpleadoCreateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpleadoDeleteServlet</servlet-name>
  	<display-name>EmpleadoDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.EmpleadoDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpleadoFindServlet</servlet-name>
  	<display-name>EmpleadoFindServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.EmpleadoFindServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpleadoListServlet</servlet-name>
  	<display-name>EmpleadoListServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.EmpleadoListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpleadoUpdateServlet</servlet-name>
  	<display-name>EmpleadoUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.EmpleadoUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InmuebleCreateServlet</servlet-name>
  	<display-name>InmuebleCreateServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.InmuebleCreateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InmuebleDeleteServlet</servlet-name>
  	<display-name>InmuebleDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.InmuebleDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InmuebleFindServlet</servlet-name>
  	<display-name>InmuebleFindServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.InmuebleFindServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InmuebleListServlet</servlet-name>
  	<display-name>InmuebleListServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.InmuebleListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InmuebleUpdateServlet</servlet-name>
  	<display-name>InmuebleUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.InmuebleUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PropietarioCreateServlet</servlet-name>
  	<display-name>PropietarioCreateServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.PropietarioCreateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PropietarioDeleteServlet</servlet-name>
  	<display-name>PropietarioDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.PropietarioDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PropietarioFindServlet</servlet-name>
  	<display-name>PropietarioFindServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.PropietarioFindServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PropietarioListServlet</servlet-name>
  	<display-name>PropietarioListServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.PropietarioListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PropietarioUpdateServlet</servlet-name>
  	<display-name>PropietarioUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.controllers.PropietarioUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClienteCreateServlet</servlet-name>
  	<url-pattern>/ClienteCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClienteDeleteServlet</servlet-name>
  	<url-pattern>/ClienteDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClienteFindServlet</servlet-name>
  	<url-pattern>/ClienteFindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClienteListServlet</servlet-name>
  	<url-pattern>/ClienteListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClienteUpdateServlet</servlet-name>
  	<url-pattern>/ClienteUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CrearClienteServlet</servlet-name>
  	<url-pattern>/CrearClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpleadoCreateServlet</servlet-name>
  	<url-pattern>/EmpleadoCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpleadoDeleteServlet</servlet-name>
  	<url-pattern>/EmpleadoDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpleadoFindServlet</servlet-name>
  	<url-pattern>/EmpleadoFindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpleadoListServlet</servlet-name>
  	<url-pattern>/EmpleadoListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpleadoUpdateServlet</servlet-name>
  	<url-pattern>/EmpleadoUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InmuebleCreateServlet</servlet-name>
  	<url-pattern>/InmuebleCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InmuebleDeleteServlet</servlet-name>
  	<url-pattern>/InmuebleDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InmuebleFindServlet</servlet-name>
  	<url-pattern>/InmuebleFindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InmuebleListServlet</servlet-name>
  	<url-pattern>/InmuebleListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InmuebleUpdateServlet</servlet-name>
  	<url-pattern>/InmuebleUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PropietarioCreateServlet</servlet-name>
  	<url-pattern>/PropietarioCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PropietarioDeleteServlet</servlet-name>
  	<url-pattern>/PropietarioDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PropietarioFindServlet</servlet-name>
  	<url-pattern>/PropietarioFindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PropietarioListServlet</servlet-name>
  	<url-pattern>/PropietarioListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PropietarioUpdateServlet</servlet-name>
  	<url-pattern>/PropietarioUpdateServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>home.html</welcome-file>
  </welcome-file-list>
  
</web-app>
